body{
  margin: 0;
  padding: 0;
}
.grid{
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
}

.c-bl{
  background-color  : #27213c;
}
.c-d_br{
  background-color: #5a352a;
}
.c-r_br{
  background-color: #a33b20;
}
.c-l_br{
  background-color: #a47963;
}
.c-p_bg{
  background-color: #a6a57a;
}

.testSize{
  width: 85%;
  height: 100px;
}