:root {
  /*_________________________ Border Var */
  --border-radius: 3rem;
  --card-margin: -6rem;
  /*_________________________ Color Var */
  --main1-color: #27213c;
  --main2-color: #5a352a;
  --main3-color: #a33b20;
  --main4-color: #a47963;
  --main5-color: #a6a57a;
}
/*_________________________________________________ HTML Elements */
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
  margin: 0vh;
  padding: 0 0 5vh;
  background-image: url(img/47c10b76-8cef-45a8-8c0d-ea26bf682dcb.jfif);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
button {
  width: 10rem;
  height: 3rem;
  border-radius: 0.9rem;
  padding: 15px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: var(--main4-color);
  border: none;
  box-shadow: 0 10px var(--main2-color), inset 0.25rem 0.25rem 0.5rem #dfb9ae94;
  background-image: url(img/black-linen.png);
  inset: 1px;
}

button:hover {
  background-color: var(--main2-color);
}
button:active {
  background-color: var(--main2-color);
  box-shadow: 0 -1px var(--main2-color),
    inset 0.125rem 0.125rem 0.25rem #dfb9ae94;
  transform: translateY(10px);
}

/*_________________________________________________ Id's */
#main_container > .card:not(:nth-child(-n + 2)) {
  margin-top: var(--card-margin);
}
#main_container > .card:last-child {
  padding-bottom: 2rem;
}

#hero {
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: #a47963;
  background-image: url(img/black-linen.png);
  margin-bottom: 20vh;
  padding-bottom: 6vh;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

#goUp {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-image: url(icons/fast-forward.png);
  background-size: contain;
  rotate: -90deg;
}

/*_________________________________________________ Classes */
.f_container {
  width: 80vw;
  display: flex;
  flex-direction: column;
}
.c-bl {
  background-color: var(--main1-color);
  color: var(--main4-color);
}
.c-d_br {
  background-color: var(--main2-color);
  color: var(--main4-color);
}
.c-r_br {
  background-color: var(--main3-color);
  color: var(--main1-color);
}
.c-l_br {
  background-color: var(--main4-color);
  color: var(--main1-color);
}
.c-p_br {
  background-color: var(--main5-color);
  color: var(--main1-color);
}
.card {
  padding: 2rem 2rem 8rem;
  height: fit-content;
  border-radius: var(--border-radius);
}
